#define PLATFORMIO 60104
#define ARDUINO_LOLIN32
#define HAVE_CONFIG_H
#define MBEDTLS_CONFIG_FILE "mbedtls/esp_config.h"
#define UNITY_INCLUDE_CONFIG_H
#define WITH_POSIX
#define _GNU_SOURCE
#define IDF_VER "v4.4.2"
#define ESP_PLATFORM
#define _POSIX_READER_WRITER_LOCKS
#define ARDUINO_ARCH_ESP32
#define ESP32
#define F_CPU 240000000L
#define ARDUINO 10812
#define ARDUINO_VARIANT "lolin32"
#define ARDUINO_BOARD "WEMOS LOLIN32"
#define ARDUINO_PARTITION_default
